# Dépendances
/node_modules
/.pnp
.pnp.js

# Production / Build
/build
/dist

# Tests et couverture
/coverage

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variables d'environnement locales
.env.local
.env.development.local
.env.test.local
.env.production.local

# Éditeurs et IDE
.idea/
.vscode/*
!.vscode/extensions.json
.project
.classpath
.cproject
*.launch
.settings/

# Système d'exploitation
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
